<a href="https://colab.research.google.com/github/aatiqa-ghazali/Coding-Exercises/blob/main/listsAndArrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#mounting_drive
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

# **Create a list and perform some basic operations for practice**

In [16]:
def create_list():
  nums=[12,13,14,15,16]
  nums.pop(1)
  print(nums)
  nums.insert(1,13)
  print(nums)
  nums[1]=90
  print(nums)
  nums.extend([34,23])
  print(nums)
  nums.remove(34)
  print(nums)
  print(nums[-1])

create_list()

[12, 14, 15, 16]
[12, 13, 14, 15, 16]
[12, 90, 14, 15, 16]
[12, 90, 14, 15, 16, 34, 23]
[12, 90, 14, 15, 16, 23]
23

# **Create a tuple **

In [ ]:
tup=(3,4,5)
tup[1]
#tup[1]=50
#gave error on above line beacuse tuples are immutable i.e.e they can not be chnaged while lists are mutabale i.e. they can be changed

**swap two variables**

In [19]:
#traditional_way
a=9
b=10
#swap a and b
temp=a
a=b
b=temp
print(a)
print(b)

10
9

In [20]:
#quick way of python to swap them 
a=9
b=10
a,b=b,a
print(a,b)

10 9

In [21]:
#loop in lists
num=[1,6,7,8,9,100,4,5]
print(num)

for i in num:

  print(i)

[1, 6, 7, 8, 9, 100, 4, 5]
1
6
7
8
9
100
4
5

In [70]:
#largest element in the list

num=[1,6,7,8,9,100,4,5]

#easy way isko sort the list first then last element in the largest one
num.sort()
print(num)
largest=print("largest element in the list is" + str(num[-1]))
#traditional way
#lets assume that first element is the largest then compare every next element with prev if it is greator then note it down in the end print the last value noted
def find_largest():

  n=[1,3,4,6,2,8]
  #print(len(n))

  for i in range(len(n)-1) :
    temp=i
    if(n[i]<n[i+1]):
      temp=n[i+1]
      print(temp)
    
      
  return temp
      
 

larg_no=find_largest()
print(larg_no)

[1, 4, 5, 6, 7, 8, 9, 100]
largest element in the list is1
3
4
6
8
8

In [69]:
#print the smallest element in the list
def find_smallest():
  num1=[1,6,7,8,-9,100,4,5]
  smallest=num1[0]
  for i in range(len(num1)-1):
    
    if(num1[i]<smallest):
      smallest=num1[i]
      print(smallest)
  return smallest

print_smallest=find_smallest()
print(print_smallest)

-9
-9