<a href="https://colab.research.google.com/github/aatiqa-ghazali/Coding-Exercises/blob/main/loops%26patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#mounting_drive
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
we use for loops to do the same for multiple no of time w-o repeatance

In [ ]:
print("hello world")

hello world

In [ ]:
for i in range(2,10,2):

    print("hello world")

hello world
hello world
hello world
hello world

In [ ]:
#end is used so that on every iteration it does not come on next line
for i in range(5):
 print("*",end="")

*****

In [ ]:
#All in one row
for i in range(5):
 print("*",end="")

for j in range(5):
 print("*",end="")

**********

In [ ]:
#print for comin on next line
for i in range(5):
 print("*",end="")
print()
for j in range(5):
 print("*",end="")

*****
*****

#dont you think we rae doing the same thing repeatidly;to avoide repeat we use for loops but not this way .so we will use loop inside loop

In [ ]:
for j in range(5):
  for i in range(5):
    print("*",end="")
  print()

*****
*****
*****
*****
*****

#to print triangle control the no columns in a particulkar row ..
for i=0 it will jot run
for i=1 and greate it will run

In [ ]:
for i in range(5):
  for j in range(i+1):
    #print(i,end="")
    print("*", end="")
  print()

*
**
***
****
*****

In [ ]:
for i in range(5):
  for j in range(5-i):
    #print(i,end="")
    print("*", end="")

  print()

*****
****
***
**
*

In [ ]:
n=5
for i in range(n):
  
  for k in range(5-i):
    print("*",end="")

  print()
  for j in range(i+1):
    print(" ", end='')

*****
 ****
  ***
   **
    *

In [ ]:
n=5
for i in range(n):
  for j in range(5-i):
    print(" ", end='')
  for k in range(i+1):
    print("*",end="")

  print()

     *
    **
   ***
  ****
 *****

In [ ]:
n=5
for i in range(n):
  for j in range(5-i):
    print(" ", end='')
  for k in range(i+1):
    print("*",end="")
  for l in range(i):
    print("*",end="")

  print()

     *
    ***
   *****
  *******
 *********

In [ ]:
n=5
for i in range(n):
 for j in range(i+1):
    print(" ", end='')
 for k in range(n-i):
    print("*",end="")
 for k in range(n-i-1):
    print("*",end="")

 print()

 *********
  *******
   *****
    ***
     *

In [ ]:
n=5
for i in range(n):
  for j in range(5-i):
    print(" ", end='')
  for k in range(i+1):
    print("*",end="")
  for l in range(i):
    print("*",end="")

  print()
n=5
for i in range(n):
 for j in range(i+1):
    print(" ", end='')
 for k in range(n-i):
    print("*",end="")
 for k in range(n-i-1):
    print("*",end="")

 print()

     *
    ***
   *****
  *******
 *********
 *********
  *******
   *****
    ***
     *

aatiqa is a good girl

atiqa is a good girl